.dpkg-container {
  @extend .pa4;
}

.dpkg__packages-container {
  @extend .overflow-auto;
}

.dpkg__packages-list {
  @extend .f6;
  @extend .w-100;
  @extend .mw8;
  @extend .center;
}

.dpkg__packages-deps {
  @extend .list;
  @extend .ph0;
  @extend .pv3;
}

.dpkg__packages-deps-item {
  @extend .dib;
  @extend .mr4;
}

.dpkg__packages-deps-link {
  @extend .db;
  @extend .link;
}

