@import '../../node_modules/tachyons/css/tachyons';
@import 'styles/theme';

@import 'components/nav_bar/nav_bar';

@import 'pages/dpkg/dpkg';

html, body {
  height: 100%;
}

#app {
  height: 100%;
}

.main-container {
  @extend .w-100;
  @extend .flex;
  @extend .flex-column;

  height: 100%;
}
