.nav-bar {
  @extend .pa3;
  @extend .pa4-ns;
}

.nav-bar__item {
  @extend .link;
  @extend .dim;
  @extend .f6;
  @extend .f5-ns;
  @extend .dib;
  @extend .mr3;
}

.nav-bar__link {
  @extend .nav-bar__item;
  @extend .gray;
}

.nav-bar__app-title {
  @extend .nav-bar__item;
  @extend .black;
  @extend .b;
}
